target/
!.mvn/wrapper/maven-wrapper.jar
*.class

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.settings/
.project
.classpath
.factorypath

### VS Code ###
.vscode/

### Others ###
*.log
*.sql
*.temp
.DS_Store
